<!-- Example row of columns -->
<div class="row">
    <div class="col-md-2">
      <div class="row">  
          <div class="col-md-12">      
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Files</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">253</span> Classes</li>
                        <li class="list-group-item"><span class="badge">17</span> Teachers</li>
                        <li class="list-group-item"><span class="badge">3</span> Students</li>
                    </ul>
                </div>
              </div>   
                
            </div>
          </div>
      </div>
  </div>
   <div class="col-md-6">
     <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2></h2>
              <p>
                  <table class="table">
                    <thead class="thead-default">
                      <tr>
                        <th>#</th>
                        <th>Course Name</th>
                        <th>Number of Classes</th>
                        <th>Number of Students</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
               </p>
              <p>
                  <a class="btn btn-default" href="#" role="button">View details&raquo;</a>
              </p>
          </div>     
     </div>  
</div>
<div class="col-md-4">  
    <form class="form-horizontal" method="POST" action="/course" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <!-- Form Name -->
            <legend></legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="contest_name">Name</label>  
              <div class="col-md-8">
              <input id="name" name="name" type="text" placeholder="Write Course Name" class="form-control input-md" required="">           
              </div>
            </div>

            <!-- Textarea -->
             <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" id="description" name="description"></textarea>
              <span class="help-block">Course Objetives, What Students are going to Learn</span> 
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="contest_description">Start Date</label>
              <div class="col-md-8">                     
                <input id="start" name="start" type="date" placeholder="Doc Number" class="form-control input-md" required="">
                <span class="help-block">When does it start?</span> 
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="contest_description">End Date</label>
              <div class="col-md-8">                     
                <input id="end" name="end" type="date" placeholder="Doc Number" class="form-control input-md" required="">
                <span class="help-block">When does it finish?</span> 
              </div>
            </div>

            <!-- Button -->
            <button class="btn btn-primary nextBtn btn-lg pull-right" type="submir" >Guardar y continuar</button>
        </fieldset>
    </form>
</div>




