 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2>School Manager</h2>
        <p>
            <div class="row">
                
            </div>
        </p>
    </div>
</div>