<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>School Manager</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="styleshhet" href="/public/css/bootstrap.min.css"
<!-- Steps -->
</head>
<body>
    <%-include('partials/navbar') %>
    <%-include('partials/options') %>
    <div class="container">    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">     
            <form class="form-horizontal">
                <fieldset>

                <!-- Form Name -->
                <legend>Log In</legend>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput"></label>  
                  <div class="col-md-5">
                  <input id="textinput" name="textinput" type="text" placeholder="User name" class="form-control input-md" required="">
                    
                  </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="passwordinput"></label>
                  <div class="col-md-5">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="Password" class="form-control input-md" required="">
                    
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button>
                  </div>
                </div>

                </fieldset>
                </form>      
         </div>
    <hr> 
           
    </div>
    <%- include('partials/footer') %> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>